node_modules/
.DS_Store
/temp/

# Coverage
coverage/

# Ignore the compiled output.
dist/

# Temporary tar files for publishing
/packages/*/*.tgz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/packages/**/*.d.ts
/packages/**/*.d.ts.map
/packages/**/*.js
/packages/**/*.js.map

/examples/**/*.d.ts
/examples/**/*.d.ts.map
/examples/**/*.js
/examples/**/*.js.map
